@responsive{
  .btn {
    @apply text-white rounded-xl py-4 px-8;
  }
  
  .btnSm {
    @apply py-3 px-4;
    background: linear-gradient(#525283, #2d2d5b);
    /* background: linear-gradient(180deg, rgba(147, 64, 110, 1) 0%, #93406E 100%); */
  }
  
  .box {
    @apply bg-white;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  }

  .userTypeButtonContainer {
    @apply flex mt-2 mr-4 bg-white opacity-75 rounded-lg border-2 border-gray border-opacity-50 w-32 h-12 justify-center items-center cursor-pointer;
    width: 8.435rem;
  }

  .userTypeIcon {
    @apply mr-1;
    width: 21px;
    height: 20px;
  }

  .userTypeButtonText {
    @apply font-bold font-montserrat text-13 text-gray opacity-50;
  }

  .userTypeButtonActive {
    @apply opacity-100;
    border-color: #4871FF;
    background-color: #F2F5FF;
    fill: #4871FF;
    color: #4871FF;
  }

  .userTypeButtonActive path {
    fill: #4871FF;
  }

  .formInput {
    @apply h-12 rounded-10 bg-white outline-none;
    text-indent: 10px;
    appearance: none;
    -webkit-appearance:none;
  }

  .formInput:focus {
    @apply border-2 border-orange;
  }

  .formInput::placeholder {
    @apply text-13;
  }

  @media (min-width: 768px) {
    .formInput::placeholder {
      @apply text-17;
    }
  }

  .textArea {
    @apply h-32;
    resize: none;
    padding: 0 10px;
    text-indent: 0;
  }

  .formInputLabel {
    @apply font-bold ml-1 z-10;
    color: #979594;
  }

  .formErrorLabel {
    @apply text-13 ml-1;
    color: #bf1515;
  }

  @media (min-width: 768px) {
    .userTypeButtonContainer {
      @apply w-60 h-16;
    }

    .userTypeIcon {
      @apply mr-2 w-6 h-6;
    }

    .userTypeButtonText {
      @apply text-20;
    }

    .formInputLabel {
      @apply text-22;
    }
  }
}

.scrollCustom {
  scrollbar-color:#FF8B81 transparent;
  scrollbar-width: thin;
}

@media (min-width: 768px) {
  .scrollCustom {
    top: 80px !important;
  }
}

.scrollCustom::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px transparent;
	background-color: #F5F5F5;
}

.scrollCustom::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.scrollCustom::-webkit-scrollbar-thumb
{
  background-color: #FF8B81;
}

.arrowTooltip {
  width: 0;
  height: 0;
  border-top: 15px solid white;
  border-right: 15px solid transparent;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border: 2px solid #ff8c816c;
  z-index: 0;
  border-radius: 5px;
}

input:checked ~ .checkmark {
  background-color: #FF8B81;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

input:checked ~ .checkmark:after {
  display: block;
}

.checkmark:after {
  left: 8px;
  top: 5px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
