/* .signupBg {
  backdrop-filter: blur(0px);
}

.signupContainer {
  backdrop-filter: blur(10px);
  justify-content: end;
}

.signupWorkerShadow {
  box-shadow: 4px 0px 7px -1px #92c3f0;
}

.signupUserShadow {
  box-shadow: 4px 0px 7px -1px #ddaeb1;
}

.logoMobile path{
  fill: #375673;
}

.logoNameMobile path {
  fill: #375673;
}

.logoMobile g path{
  fill: #e5858f !important;
}

.grecaptcha-badge { visibility: hidden; }

.spinnerDot {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 76px;
}
.spinnerDot div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.spinnerDot div:nth-child(1) {
  left: 8px;
  animation: spinnerDotAnimation1 0.6s infinite;
}
.spinnerDot div:nth-child(2) {
  left: 8px;
  animation: spinnerDotAnimation2 0.6s infinite;
}
.spinnerDot div:nth-child(3) {
  left: 32px;
  animation: spinnerDotAnimation2 0.6s infinite;
}
.spinnerDot div:nth-child(4) {
  left: 56px;
  animation: spinnerDotAnimation3 0.6s infinite;
}
@keyframes spinnerDotAnimation1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes spinnerDotAnimation3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes spinnerDotAnimation2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.dotSignup {
  height: 8px !important;
} */